# Drivers's performance - Braspress

## Libraries

In [2]:
import importlib
import numpy as np
import pandas as pd
import telemetry
import braspress

## Settings

In [32]:
settings = {
    "telemetry_dir": "Dataset/Telemetry Data",
    "braspress_branches_path": "Dataset/braspress_branches.csv",
    "braspress_valid_lines_path": "Dataset/valid_lines.csv",
    "dates": (
        (2024, 10),
        (2024, 11),
        (2024, 12)
    ),
    "min_displacement": 5.0,
    "braspress_proximity_threshold": 5.0,
    "avg_fuel_consumption_goal_number_of_std": 1.0
}

## Load Data

In [33]:
importlib.reload(telemetry)

In [34]:
batches = []

for date in settings["dates"]:
    batches.append(telemetry.Telemetry(settings, date[0], date[1], max_lines_to_read=2000))

In [35]:
driver_stats = pd.concat([batch.get_driver_stats() for batch in batches])
driver_stats

,driver_id,avg_fuel_consumption,avg_fuel_consumption_goal,reach_fuel_goal
0,11276526725,4.266182,5.654330,0.0
0,12058615646,2.645019,2.645019,0.0
0,13312035899,2.757076,NaN,NaN
0,13599656886,4.076034,NaN,NaN
0,15261616808,2.914765,NaN,NaN
...,...,...,...,...
0,91442036753,3.098900,NaN,NaN
0,94144982149,2.668194,2.668194,0.0
0,96089725668,2.933979,NaN,NaN
0,96196130153,3.764166,NaN,NaN
0,97080616115,3.320208,NaN,NaN

In [37]:
driver_stats.to_excel("driver_fuel_performance.xlsx")

**October 2024 Analysis**

Extract data

In [23]:
importlib.reload(telemetry)
oct2024 = telemetry.Telemetry(settings, 2024, 10, max_lines_to_read=2000)

In [25]:
fleet_drivers_stats = oct2024.get_fleet_driver_groups()
fleet_drivers_stats

    fleet    driver_id line_id  avg_fuel_consumption
0     281   3347814770  RIOBTA              3.219765
1    2559  13312035899  BTATRL              2.757076
2   21374   1537127756  BCGBTA              3.125225
3   21374   2276154764  SDRV2C              2.483615
4   21374   2276154764  V2CVIX              3.856846
..    ...          ...     ...                   ...
69  21407    558775080  BTAFLN              3.061392
70  21042   3388104719  BTAR2C              3.634090
71  21042   3388104719  R2CRIO              4.631068
72  21471  60402938534  NBRITB              3.768923
73  21488   3324047730  BTARIO              3.396329

[74 rows x 4 columns]

In [26]:
driver_stats = oct2024.get_driver_stats()
driver_stats

,driver_id,avg_fuel_consumption,avg_fuel_consumption_goal,reach_fuel_goal
0,11276526725,4.266182,5.654330,0.0
0,12058615646,2.645019,2.645019,0.0
0,13312035899,2.757076,NaN,NaN
0,13599656886,4.076034,NaN,NaN
0,15261616808,2.914765,NaN,NaN
0,1537127756,3.125225,NaN,NaN
0,17451066851,3.007054,NaN,NaN
0,20421958553,3.466723,3.452120,1.0
0,21266373870,3.107443,NaN,NaN
0,2276154764,3.170231,5.654330,0.0
0,24623030814,3.109431,NaN,NaN
0,25061442857,2.775372,NaN,NaN
0,25940019889,3.110301,3.298107,0.0
0,26271269893,2.463938,NaN,NaN
0,27079229863,2.423792,NaN,NaN
0,2854764161,2.891568,2.891568,0.0
0,30656270861,2.784036,NaN,NaN
0,30755035844,2.875419,NaN,NaN
0,30799355860,3.139818,NaN,NaN
0,31447181816,2.675488,2.675488,0.0
0,31580434835,2.672297,NaN,NaN
0,3324047730,3.396329,3.452321,0.0
0,3347814770,3.219765,3.306944,0.0
0,33727396806,3.697217,NaN,NaN
0,3388104719,4.132579,4.631068,0.0
0,34483519549,2.416848,NaN,NaN
0,3453742664,3.340422,3.312797,1.0
0,35113125822,3.055309,3.055309,0.0
0,3594353788,2.267655,3.306944,0.0
0,4088171942,2.746841,2.746841,0.0
0,43037089504,3.020649,3.285321,0.0
0,4339974439,3.234305,3.114934,1.0
0,4748396806,2.929309,NaN,NaN
0,558775080,3.061392,NaN,NaN
0,5650669600,2.266168,2.266168,0.0
0,5665630705,2.800538,NaN,NaN
0,5677385409,2.837121,2.886168,0.0
0,5703706475,3.164481,3.164481,0.0
0,59403390182,2.780409,2.780409,0.0
0,60402938534,3.768923,NaN,NaN
0,6468890608,2.631510,2.748742,0.0
0,6486409657,3.243172,3.306944,0.0
0,6701440614,2.959735,3.312797,0.0
0,7228099648,2.728628,2.748742,0.0
0,73671282649,3.866457,NaN,NaN
0,7663839463,2.811546,2.883089,0.0
0,780945506,2.966583,2.966583,0.0
0,7870395609,3.375887,3.375887,0.0
0,79735240610,3.140563,NaN,NaN
0,8133732719,2.820481,3.379633,0.0
0,8530183673,2.634426,NaN,NaN
0,8645997495,2.600299,2.886168,0.0
0,8721611459,3.136355,NaN,NaN
0,8833366774,2.600237,NaN,NaN
0,94039925491,2.870814,2.883089,0.0
0,94126682520,3.146709,3.452120,0.0
0,97622664634,2.780763,3.312797,0.0
0,99512203472,2.562728,NaN,NaN
0,99580802572,3.154745,NaN,NaN

In [30]:
importlib.reload(braspress)
import braspress

valid_lines_with_stats = braspress.Braspress(settings).extract_valid_lines_with_stats(fleet_drivers_stats)
valid_lines_with_stats.dropna()

         avg_fuel_consumption_goal
line_id
AJUFSA                    3.114934
BCGIPN                    2.276272
BCGITB                    2.748742
BCGVAG                    3.298107
BTABTB                    3.375887
BTACWB                    2.675488
BTARIO                    3.452321
BTBBTA                    2.966583
FSAITB                    3.452120
FSAMCZ                    2.883089
GPBCAC                    2.746841
GYNITG                    2.772646
IPNBCG                    2.256063
ITBBCG                    3.312797
MCZREC                    2.886168
MSSCGB                    2.780409
MSSTRL                    2.891568
R2CRIO                    4.631068
RECMCZ                    3.164481
RIOBTA                    3.306944
SSAFSA                    3.118521
TRLMSS                    3.055309
UDIGYN                    2.517391
V2CVIX                    5.654330